<h1>All of our talented Artists!</h1>

<ul class="artist-names">
    <li> Rebecca Taylor </li>
    <li>   Megan Blaese</li>
    <li>  Luke Wallace</li>
    <li> Nathaniel Knight</li>
    <li>  Declan Kim</li>
    <li>  Jackson Garcia</li>
    <li> Sean Jones</li>
</ul>