<h1>artist</h1>

<%=@artist.name%><br><br>
<%= render 'form'%>
<!--<%= render partial: "appointments/appointments", locals: {appointments: @artist.appointments, index: false} %>-->
<br><br>

<%=button_to "Delete", @artist, method: :delete %>
