
<h1>Welcome to Anime Envy Tattoo Parlor!</h1>

<br>

<h2>Our Amazing Proffessional Artists</h2>

<ul class="artist-names"> 
   <li>Rebecca Taylor</li>
   <li>Megan Blaese</li>
   <li>Luke Wallace</li>
   <li>Nathaniel Knight</li>
   <li>Declan Kim</li>
   <li>Jackson Garcia</li>
   <li>Sean Jones</li>
</ul>
