.artist-form{
    font: 100% Helvetica, sans-serif;
    color: #333;
    background-color: cornsilk;
    margin-left: 400px;
    margin-right: 614px;
    border-radius: 3px;
    display: flex;
    font-weight: 900;
    font-size: 22px;
    justify-content: center;
    }

    .delete-button{
        display: flex;
        justify-content: center;  
      }