// Place all the styles related to the Customeers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    font: 100% Helvetica, sans-serif;
    display: flex;
    color: hsl(0, 85%, 51%);
    background-color: rgb(143, 87, 248);
    background-clip: content-box;
    margin-left: 175px;
    margin-right: 175px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 50px;
    justify-content: center;
  }

h2 {
    font: 100% Helvetica, sans-serif;
    color: rgb(170, 101, 101);
    background-color: cornsilk;
    margin-left: 266px;
    margin-right: 266px;
    border-radius: 3px;
    display: flex;
    font-weight: 800;
    font-size: 45px;
    justify-content: center;
}

.artist-names {
    font: 100% Helvetica, sans-serif;
    color: #333;
    background-color: cornsilk;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 3px;
    display: flex;
    font-weight: 900;
    font-size: 22px;
    justify-content: space-between;
}

body{
    background-image: url(rails.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

  .user-form{
         font: 100% Helvetica, sans-serif;
         color: #333;
         background-color: cornsilk;
         margin-left: 400px;
         margin-right: 610px;
         border-radius: 3px;
         display: flex;
         font-weight: 900;
         font-size: 22px;
         justify-content: center;
         }

      .customer-button {  
        display: flex;
        justify-content: center;
        height: 30px;
        border-radius: 3px;        
         }
    