<%@appointments.each.with_index do |a, index|%>
  <div class="appointments">
    <li><%=index + 1%>. <%=link_to a.appointment_time, appointment_path(a)%>
    Artist - <%= a.artist_name%><br>
    </li>
  </div>
<%end%>