<body>
  <h2>Appointment Layout</h2>
  <%=link_to "All artists", artists_path%>
  <%=link_to "New artist", new_artist_path%>
  <%=link_to "New appointment", new_appointment_path%>
  <%= yield %>
</body>